In [0]:
import pandas as pd

In [0]:
# loading data
df = pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')

In [3]:
# first 5 row
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
# removing user id
filteredData = df.iloc[:, 2:].values

In [0]:
# now we can get features set
features = filteredData[:, 0:2]

In [0]:
# getting labels
labels = filteredData[:, 2]

In [0]:
# splitting training and test set
from sklearn.model_selection import train_test_split

In [0]:
X, x, Y, y = train_test_split(features, labels)

In [0]:
# now apply feature scalling
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [0]:
# apply feature scalling to training set
X = sc.fit_transform(X)

In [0]:
x = sc.transform(x)

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
# random forest with 20 decision tree
classifier = RandomForestClassifier(n_estimators=20

In [0]:
# training the classifier
trained = classifier.fit(X, Y)

In [0]:
# predicting the test set
predicted = trained.predict(x)

In [0]:
# getting accuracy value
from sklearn.metrics import accuracy_score

In [0]:
score = accuracy_score(y, predicted)

In [42]:
score

0.89