In [0]:
from bs4 import BeautifulSoup
import requests

In [0]:
url = "https://en.wikipedia.org/wiki/Saprotrophic_nutrition"

In [0]:
response = requests.get(url) # sending requests to url and getting response

In [0]:
# parsing library - html.parser and lxml
html =  BeautifulSoup(response.text, 'lxml')

In [0]:
data = html.get_text()

In [8]:
type(data)

str

In [0]:
for aLink in html.find_all('a'):
    print(aLink.get('href'))

In [16]:
for pTag in html.find_all('p'):
    for bTag in pTag.find_all('b'):
        print(bTag)

<b>Saprotrophic nutrition</b>
<b>lysotrophic nutrition</b>
<b>saprotrophs</b>
<b>saprobes</b>
<b>saprophytes</b>
<b>facultative saprophyte</b>
<b></b>

In [0]:
import pandas as pd

In [18]:
pd.DataFrame([['Devesh', 21]], columns=['Name', 'Age'])

     Name  Age
0  Devesh   21

In [19]:
df = {'Name': ['Devesh', 'Bharat', 'Kishor'], 'Age': [21, 20, 22], 'Marks': [499, 475, 450]}
pd.DataFrame(df)

     Name  Age  Marks
0  Devesh   21    499
1  Bharat   20    475
2  Kishor   22    450